@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/* /* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {

  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }
}

* {
  box-sizing: border-box;
}

.header {
  border-width: thick;
  border-radius: 25px;
  margin-top: 20px;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 20px;
  text-align: center;
  padding: 10px;
  background-color: #58d68d;
}

h1,
h2,
h3 {
  text-align: center;
  font-family: Roboto;

}

body {
  align-items: center;

  background: #d1f2eb;
}

.perfil {
  align-items: center;
  border-style: solid;
  border-width: 6px;
  border-radius: 50%;
  border-color: #58d68d;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

 ul {
  font-family: Roboto;
  font-weight: lighter;
  text-align: left;
  width: /*360px*/100%;
  list-style-position: inside;
  margin-left: auto;
  margin-right: auto;
}


p {
  text-align: center;
}

label {
  font-family: Roboto;
  font-weight: lighter;
}

.botonS {

  border: none;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  text-decoration: none;
  /*display: inline-block;*/
  font-size: 16px;
  font-family: Roboto;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #58d68d;

  display: block;
  margin-left: auto;
  margin-right: auto;

}

.botonS:hover {
  background-color: #58d68d;
  color: white;
}


.footer {
  border-radius: 25px;
  border-width: thick;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  padding: 10px;
  background-color: #58d68d;
}

input {
  margin-top: 10px;
  margin-bottom: 10px;
}

.videoframe {
  display: block;
  position: relative;
  padding-bottom: 56.25%;  
  }
  
  iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  }

form {
  text-align: center;
}

p {
  font-family: Roboto;
  font-weight: lighter;
  text-align: justify;
  width: /*360px*/ 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

table {
  font-family: Roboto;
  border-collapse: collapse;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

td, th {
  border: 5px solid #58d68d;
  text-align: left;
  padding: 8px;
  font-weight: lighter;
}

/* EXPERIENCIA Y HABILIDADES TAB */
.tab {
  overflow: hidden;
  border: 5px solid #58d68d;
  background-color: #ffffff;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  border-radius: 12px;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  transition-duration: 0.4s;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  font-family: Roboto;
  font-weight: bold;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #58d68d;
}

/* Style the tab content */
.tabcontent {
  display: none;
  border: 5px solid #58d68d;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.tabcontent.active {
  display: block;
}

/* SKILL BAR */
.container {
  width: auto; 
  background-color: #ddd; 
  margin-right: 20px;
  margin-left:20px;
  margin-left:20px;
  margin-bottom: 20px;
  border-radius: 9px;

}

.skills {
  text-align: right; 
  padding-top: 10px;
  padding-bottom: 10px; 
  color: white; 
  border-radius: 9px
}

.html, .css, .js, .php {
  font-family: Roboto;
  padding-right: 10px;
}

.html {
  width: 90%; 
  background-color: #04AA6D;
} 

.css {
  width: 80%; 
  background-color: #2196F3;
} 

.js {
  width: 65%; 
  background-color: #f44336;
} 

.php {
  width: 60%; 
  background-color: #808080;
} 

/* fin de skill bar*/

.dark-modo{
  background-color: black;
  color: white;
}

.botonLuz{
  display: inline-block;
  margin: auto;

}

.fa-envelope, .fa-facebook, .fa-twitter {
  color: #58d68d;
}

.fa-envelope:hover, .fa-facebook:hover, .fa-twitter:hover {
  color: #317f43;
}

.fa-stack {
margin:0% 4%;  
}
